{% extends "layouts/main.html" %} {% block pageTitle %} Question page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%} {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column">
    <h1 class="govuk-heading-l">Share your feedback</h1>
    <p class="govuk-body">
      Tell us about your experience of using Bichard7 to help us improve the
      service.
    </p>
    <p class="govuk-body">
      Your responses are anonymous and are used to make future improvements.
    </p>
    <p class="govuk-body">
      We do not reply to feedback. If you need support with your account contact
      your User Manager or use our
      <a
        class="govuk-link"
        href="/help"
        rel="noreferrer noopener"
        target="_blank"
        >help guide.</a
      >
    </p>
    {%set isError = isRadioEmpty or isSuggestionEmpty%} {%if isError%}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {%if isRadioEmpty%}
            <li>
              <a href="#satisfactionRating"
                >Tell us how you feel about using Bichard7
              </a>
            </li>
            {%endif%} {%if isSuggestionEmpty%}
            <li>
              <a href="#improvementSuggestion">Provide feedback </a>
            </li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>
    {%endif%}
    <form class="form" action="/feedback" method="post">
      <div
        class="govuk-form-group {% if isRadioEmpty %}govuk-form-group--error{% endif %}"
      >
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
            Overall, how did you feel about using Bichard7 today?
          </legend>
          <div id="email-hint" class="govuk-hint">Select one</div>
          {% if isRadioEmpty %}
          <p id="radioEmpty-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select one option
          </p>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="satisfactionRating"
              name="satisfactionRating" type="radio" value="very-satisfied" {%
              if data['satisfactionRating'] == "very-satisfied" %}checked{%
              endif %}>
              <label
                class="govuk-label govuk-radios__label"
                for="satisfactionRating"
              >
                Very satisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="satisfactionRating-2"
              name="satisfactionRating" type="radio" value="satisfied" {% if
              data['satisfactionRating'] == "satisfied" %}checked{% endif %}>
              <label
                class="govuk-label govuk-radios__label"
                for="satisfactionRating-2"
              >
                Satisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="satisfactionRating-3"
              name="satisfactionRating" type="radio"
              value="neither-satisfied-or-dissatisfied" {% if
              data['satisfactionRating'] == "neither-satisfied-or-dissatisfied"
              %}checked{% endif %}>
              <label
                class="govuk-label govuk-radios__label"
                for="satisfactionRating-3"
              >
                Neither satisfied or dissatisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="satisfactionRating-4"
              name="satisfactionRating" type="radio" value="dissatisfied" {% if
              data['satisfactionRating'] == "dissatisfied" %}checked{% endif %}>
              <label
                class="govuk-label govuk-radios__label"
                for="satisfactionRating-4"
              >
                Dissatisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="satisfactionRating-5"
              name="satisfactionRating" type="radio" value="very-dissatisfied"
              {% if data['satisfactionRating'] == "very-dissatisfied"
              %}checked{% endif %}>
              <label
                class="govuk-label govuk-radios__label"
                for="satisfactionRating-5"
              >
                Very dissatisfied
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div
        class="govuk-form-group govuk-character-count {% if isSuggestionEmpty %}govuk-form-group--error{% endif %}"
        data-module="govuk-character-count"
        data-maxwords="150"
      >
        <label
          class="govuk-label govuk-!-font-weight-bold"
          for="improvementSuggestion"
        >
          Tell us how we can improve Bichard7
        </label>

        <div id="improvementSuggestion-hint" class="govuk-hint">
          Do not include any personal or case information, for example your
          name, email address, force or case details
        </div>

        {% if isSuggestionEmpty %}
        <p id="improvementSuggestion-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter your
          suggestions
        </p>
        {% endif %}

        <textarea
          class="govuk-textarea govuk-js-character-count"
          id="improvementSuggestion"
          name="improvementSuggestion"
          rows="5"
          aria-describedby="improvementSuggestion-hint improvementSuggestion-info"
        >
{{ data['improvementSuggestion'] | escape }}</textarea
        >

        <div
          id="improvementSuggestion-info"
          class="govuk-hint govuk-character-count__message"
        >
          You can enter up to 150 words
        </div>
      </div>

      {{ govukButton({ text: "Send feedback" }) }}
    </form>
    <p class="govuk-body">
      <a
        href="/help"
        class="govuk-link govuk-link--no-underline govuk-!-font-weight-bold"
        rel="noreferrer noopener"
        target="_blank"
      >
        Get help with this page (opens in new tab)
      </a>
    </p>
  </div>
</div>

{% endblock %}
