{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Thank you for your feedback</h1>
    <p class="govuk-body">
      Your feedback will help us make improvements to Bichard7.
    </p>
    <p class="govuk-body">You can now close this window</p>

    <p class="govuk-body">
      <a
        href="/help"
        class="govuk-link govuk-link--no-underline govuk-!-font-weight-bold"
        rel="noreferrer noopener"
        target="_blank"
      >
        Get help with this page (new window)
      </a>
    </p>
  </div>
</div>

{% endblock %}
