{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-phase-banner govuk-!-margin-bottom-5">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> Beta </strong>
      <span class="govuk-phase-banner__text">
        This is a new service - your
        <a
          class="govuk-link"
          href="/feedback"
          rel="noreferrer noopener"
          target="_blank"
          >feedback</a
        >
        will help us improve it (opens in new window)
      </span>
    </p>
  </div>
  <div class="govuk-grid-column">
    {% set hasError = resetPasswordEmailInvalid or data['resetPasswordEmail'] ==
    ""%} {%if hasError%}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {%if (data['resetPasswordEmail'] == "")%}
            <li>
              <a href="#resetPasswordEmail">Enter your email address</a>
            </li>
            {%endif%} {%if resetPasswordEmailInvalid and
            data['resetaPasswordEmail'] != ""%}
            <li>
              <a href="#resetPasswordEmail"
                >Enter an email address in the correct format, for example
                name@example.com</a
              >
            </li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>
    {%endif%}

    <h1 class="govuk-heading-l">Change your password</h1>
    <p class="govuk-body">
      First, let's check your email address is registered to a Bichard7 account.
    </p>

    <form method="post" action="/reset-password" autocomplete="on" novalidate>
      <div
        class="govuk-form-group {% if hasError%}govuk-form-group--error{% endif %}"
      >
        <label
          class="govuk-label govuk-!-font-weight-bold"
          for="resetPasswordEmail"
          >Email address</label
        >
        <div id="email-hint" class="govuk-hint">
          Enter the email address for yourBichard7 account
        </div>
        {% if (data['resetPasswordEmail'] == "" or resetPasswordEmailInvalid) %}
        <div class="govuk-error-message">
          Enter an email address in the correct format, like name@example.com
        </div>
        {% endif %} <input class="govuk-input govuk-!-width-one-half {% if
        (data['resetPasswordEmail'] == "" or
        resetPasswordEmailInvalid)%}govuk-input govuk-input--error{% endif %}"
        id="resetPasswordEmail" name="resetPasswordEmail" type="email"
        autocomplete="email" />
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Next
      </button>
    </form>

    <p class="govuk-body">
      <a
        href="/help"
        class="govuk-link govuk-link--no-underline govuk-!-font-weight-bold"
        rel="noreferrer noopener"
        target="_blank"
      >
        Get help with this page (new window)
      </a>
    </p>
  </div>
</div>

{% endblock %}
