{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-phase-banner govuk-!-margin-bottom-5">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> Beta </strong>
      <span class="govuk-phase-banner__text">
        This is a new service -
        <a
          class="govuk-link"
          href="/feedback"
          rel="noreferrer noopener"
          target="_blank"
          >your feedback will help us improve it (opens in new tab)</a
        >
      </span>
    </p>
  </div>
  <div class="govuk-grid-column">
    {%set newPassEmpty = data["newPassword"] == ""%} {%set confirmPassEmpty =
    data["confirmPassword"] == ""%} {%set mismatch = (data["newPassword"] !=
    data["confirmPssword"]) and not newPassEmpty and not confirmPassEmpty%} {%
    set hasError = newPassEmpty or confirmPassEmpty or mismatch%} {%if
    hasError%}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {%if newPassEmpty%}
            <li>
              <a href="#resetPasswordEmail">Enter a new password </a>
            </li>
            {%endif%} {%if confirmPassEmpty%}
            <li>
              <a href="#resetPasswordEmail">Enter your new password again</a>
            </li>
            {%endif%} {%if mismatch%}
            <li>
              <a href="#resetPasswordEmail"
                >Passwords don't match. Enter your new password again
              </a>
            </li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>
    {%endif%}

    <h1 class="govuk-heading-l">Create your new password</h1>
    <p class="govuk-body">Your password must have:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>8 characters or more</li>
      <li>
        no identifiable information including your name, last name or email
        address
      </li>
      <li>not been used before</li>
    </ul>
    <form
      method="post"
      action="/reset-password-new-password"
      autocomplete="on"
      novalidate
    >
      <div class="govuk-form-group">
        <div
          class="govuk-form-group govuk-password-input {%if newPassEmpty%}govuk-form-group--error{%endif%}"
          data-module="govuk-password-input"
        >
          <label
            class="govuk-label govuk-!-font-weight-bold"
            for="password-input"
          >
            New password
          </label>
          <p id="password-hint" class="govuk-hint">Enter your new password</p>
          {% if newPassEmpty%}
          <div class="govuk-error-message">Enter a new password</div>
          {% endif %}
          <div class="govuk-input__wrapper govuk-password-input__wrapper">
            <input
              class="govuk-input govuk-!-width-one-half govuk-password-input__input govuk-js-password-input-input{%if newPassEmpty%}govuk-input govuk-input--error{%endif%}"
              id="newPassword"
              name="newPassword"
              type="password"
              spellcheck="false"
              autocomplete="new-password"
              autocapitalize="none"
            />
            <button
              type="button"
              class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle"
              data-module="govuk-button"
              aria-controls="password-input"
              aria-label="Show password"
              hidden
            >
              Show
            </button>
          </div>
        </div>

        <div
          class="govuk-form-group govuk-password-input {%if confirmPassEmpty or mismatch%}govuk-form-group--error{%endif%}"
          data-module="govuk-password-input"
        >
          <label
            class="govuk-label govuk-!-font-weight-bold"
            for="password-input"
          >
            Confirm password
          </label>
          <p id="password-hint" class="govuk-hint">Re-type your password</p>
          {% if mismatch%}
          <div class="govuk-error-message">
            Passwords don't match Enter your new password again
          </div>
          {% endif %} {% if confirmPassEmpty%}
          <div class="govuk-error-message">Enter your new password again</div>
          {% endif %}
          <div class="govuk-input__wrapper govuk-password-input__wrapper">
            <input
              class="govuk-input govuk-!-width-one-half govuk-password-input__input govuk-js-password-input-input {%if confirmPassEmpty or mismatch%}govuk-input govuk-input--error{%endif%}"
              id="confirmPassword"
              name="confirmPassword"
              type="password"
              spellcheck="false"
              autocomplete="confirmPassword"
              autocapitalize="none"
            />
            <button
              type="button"
              class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle"
              data-module="govuk-button"
              aria-controls="password-input"
              aria-label="Show password"
              hidden
            >
              Show
            </button>
          </div>
        </div>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save password
      </button>
    </form>

    <p class="govuk-body">
      <a
        href="/help"
        class="govuk-link govuk-link--no-underline govuk-!-font-weight-bold"
        rel="noreferrer noopener"
        target="_blank"
      >
        Get help with this page (new window)
      </a>
    </p>
  </div>
</div>

{% endblock %}
