{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-phase-banner govuk-!-margin-bottom-5">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> Beta </strong>
      <span class="govuk-phase-banner__text">
        This is a new service -
        <a
          class="govuk-link"
          href="/feedback"
          rel="noreferrer noopener"
          target="_blank"
          >your feedback will help us improve it (opens in new tab)</a
        >
      </span>
    </p>
  </div>
  <div class="govuk-grid-column">
    <h1 class="govuk-heading-l">Password changed</h1>
    <p class="govuk-body">You have successfully changed your password.</p>
    <form method="POST" action="/reset-password-confirmation">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Return to sign-in page
      </button>
    </form>
    <p class="govuk-body">
      <a
        href="/help"
        class="govuk-link govuk-link--no-underline govuk-!-font-weight-bold"
        rel="noreferrer noopener"
        target="_blank"
      >
        Get help with this page (new window)
      </a>
    </p>
  </div>
</div>

{% endblock %}
