{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<div class="govuk-grid-row">
  <a href="/reset-password" class="govuk-back-link">Back</a>
  <div class="govuk-phase-banner govuk-!-margin-bottom-5">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> Beta </strong>
      <span class="govuk-phase-banner__text">
        This is a new service -
        <a
          class="govuk-link"
          href="/feedback"
          rel="noreferrer noopener"
          target="_blank"
          >your feedback will help us improve it (opens in new tab)</a
        >
      </span>
    </p>
  </div>
  <div class="govuk-grid-column">
    {%set hasError = (data["resetPasswordSecurityCode"] == "") or
    resetPasswordIncorrectSecurityCode%} {%if hasError%}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {%if (data['resetPasswordSecurityCode'] == "")%}
            <li>
              <a href="#resetPasswordSecurityCode">Enter a security code</a>
            </li>
            {%endif%} {%if resetPasswordIncorrectSecurityCode%}
            <li>
              <a href="#resetPasswordSecurityCode">Incorrect security code </a>
            </li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>
    {%endif%}
    <h1 class="govuk-heading-l">Enter your security code</h1>
    <p class="govuk-body">Your email address: <b>name.lastname@force.com</b></p>
    <p class="govuk-body">
      If your email address is registered to a Bichard7 account, you will
      receive an email with a security code.
    </p>
    <p class="govuk-body">
      The code takes up to 5 minutes to arrive in your inbox.
    </p>
    <p class="govuk-body">Haven't received a code:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a
          href="/reset-password"
          class="govuk-link govuk-link--no-visited-state"
          >try again</a
        >
        making sure your email address is typed correctly
      </li>
      <li>
        ask your User Manager to check the email address for your Bichard7
        account is correct
      </li>
    </ul>
    <form
      method="post"
      action="/reset-password-enter-security-code"
      autocomplete="on"
      novalidate
    >
      {% set hasError = resetPasswordIncorrectSecurityCode or
      data['resetPasswordSecurityCode'] == ""%}
      <div
        class="govuk-form-group {% if hasError %}govuk-form-group--error{%endif%}"
      >
        <label
          class="govuk-label govuk-!-font-weight-bold"
          for="resetPasswordSecurityCode"
          >Security Code</label
        >
        <p class="govuk-body">Enter the security code</p>
        {% if (data['resetPasswordSecurityCode'] == "") %}
        <div class="govuk-error-message">Enter a security code.</div>
        {% endif %} {% if resetPasswordIncorrectSecurityCode and
        data['securityCode'] != "" %}
        <div class="govuk-error-message">Security code is incorrect.</div>
        {% endif %} <input class="govuk-input govuk-!-width-one-half {% if
        (data['resetPasswordSecurityCode'] == "") or
        resetPasswordIncorrectSecurityCode %}govuk-input
        govuk-input--error{%endif%}" id="resetPasswordSecurityCode"
        name="resetPasswordSecurityCode" type="number"
        autocomplete="resetPasswordSecurityCode" />
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Next
      </button>
    </form>
    <p class="govuk-body">
      <a
        href="/help"
        class="govuk-link govuk-link--no-underline govuk-!-font-weight-bold"
        rel="noreferrer noopener"
        target="_blank"
      >
        Get help with this page (opens in new tab)
      </a>
    </p>
  </div>
</div>

{% endblock %}
