{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-phase-banner govuk-!-margin-bottom-5">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> Beta </strong>
      <span class="govuk-phase-banner__text">
        This is a new service - your
        <a
          class="govuk-link"
          href="/feedback"
          rel="noreferrer noopener"
          target="_blank"
          >feedback</a
        >
        will help us improve it (opens in new window)
      </span>
    </p>
  </div>
  <div class="govuk-grid-column">
    {%set isError = incorrectSecurityCode or data["securityCode"] == ""%} {%if
    isError%}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {%if (data['securityCode'] == "")%}
            <li>
              <a href="#securityCode">Enter a security code </a>
            </li>
            {%endif%} {%if incorrectSecurityCode and not (data['securityCode']
            == "")%}
            <li>
              <a href="#securityCode">Incorrect security code</a>
            </li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>
    {%endif%}

    <h1 class="govuk-heading-l">Sign in to Bichard7</h1>
    <p class="govuk-body">
      We have sent a security code by email to: <b>test@mail.com</b>
    </p>
    <p class="govuk-body">The code will expire in 30 minutes.</p>
    <form method="post" action="/security-code" autocomplete="on" novalidate>
      <div
        class="govuk-form-group {%if isError%}govuk-form-group--error{%endif%}"
      >
        <label class="govuk-label govuk-!-font-weight-bold" for="securityCode"
          >Security Code</label
        >
        <p class="govuk-body">Enter the security code we emailed you.</p>
        {% if (data['securityCode'] == "")%}
        <div class="govuk-error-message">Enter a security code.</div>
        {% endif %} {% if incorrectSecurityCode and not (data['securityCode'] ==
        "") %}
        <div class="govuk-error-message">Incorrect security code.</div>
        {% endif %}

        <input
          class="govuk-input govuk-!-width-one-half {%if isError%}govuk-input govuk-input--error{%endif%}"
          id="securityCode"
          name="securityCode"
          type="number"
          autocomplete="securityCode"
        />
      </div>
      <div class="govuk-form-group">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="skip"
            name="skip"
            type="checkbox"
          />
          <label class="govuk-label govuk-checkboxes__label" for="skip">
            Skip using a security code next time
          </label>
        </div>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Do not select this option if you are using a public or shared device
          </strong>
        </div>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Sign in
      </button>
    </form>
    <p class="govuk-body">
      <a
        href="/help"
        class="govuk-link govuk-link--no-underline govuk-!-font-weight-bold"
        rel="noreferrer noopener"
        target="_blank"
      >
        Get help with this page (new window)
      </a>
    </p>
  </div>
</div>

{% endblock %}
