{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-phase-banner govuk-!-margin-bottom-5">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag"> Beta </strong>
      <span class="govuk-phase-banner__text">
        This is a new service - your
        <a
          class="govuk-link"
          href="/feedback"
          rel="noreferrer noopener"
          target="_blank"
          >feedback</a
        >
        will help us improve it (opens in new window)
      </span>
    </p>
  </div>
  <div class="govuk-grid-column">
    {%set onlyPasswordEmpty = data["email"] != "" and data["password"] == "" %}
    {%set onlyEmailEmpty = data["email"] == "" and data["password"] != "" %}
    {%set emailInvalidNotEmpty = emailInvalid and (data["email"] != "")%} {%set
    validIncorrectLogin = incorrectLoginDetails and not emailInvalid and not
    data["password"] == ""%} {%set emailError = emailInvalid and not
    onlyPasswordEmpty%} {%set passwordError = (data["password"] == "") and not
    onlyEmailEmpty and not emailInvalidNotEmpty%} {%set error = emailError or
    passwordError or incorrectLoginDetails%} {%if error%}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {%if incorrectLoginDetails and not (data["email"] == "") and not
            (data["password"] == "") and not emailInvalidNotEmpty%}
            <li>
              <a href="#email">Incorrect email address or password </a>
            </li>
            {%endif%} {%if emailError and not emailInvalidNotEmpty%}
            <li>
              <a href="#email">Enter your email address</a>
            </li>
            {%endif%} {%if passwordError%}
            <li>
              <a href="#password-input">Enter a password </a>
            </li>
            {%endif%} {%if emailInvalid and not data["email"]==""%}
            <li>
              <a href="#email"
                >Enter an email address in the correct format, for example
                name@example.com
              </a>
            </li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>
    {%endif%}
    <h1 class="govuk-heading-l">Sign in to Bichard7</h1>
    <p class="govuk-body">
      To log in you need a security code, as well as, your Bichard7 account
      email address and password.
    </p>
    <p class="govuk-body">
      Enter your email address and password to receive a security code by email.
    </p>
    <form method="post" action="/sign-in" autocomplete="on" novalidate>
      <div
        class="govuk-form-group {%if emailError or validIncorrectLogin%}govuk-form-group--error{%endif%}"
      >
        <label class="govuk-label govuk-!-font-weight-bold" for="email"
          >Email address</label
        >
        <div id="email-hint" class="govuk-hint">
          Enter your Bichard7 account email address
        </div>
        {% if emailInvalid and not data["email"]==""%}
        <div class="govuk-error-message">
          Enter an email address in the correct format, like name@example.com
        </div>
        {% endif %} {%if emailError and not emailInvalidNotEmpty%}
        <div class="govuk-error-message">Enter your email address</div>
        {% endif %} {%if incorrectLoginDetails and not (data["email"] == "") and
        not (data["password"] == "") and not emailInvalidNotEmpty%}
        <div class="govuk-error-message">
          Incorrect email address or password
        </div>
        {%endif%}
        <input
          class="govuk-input govuk-!-width-one-half {%if emailError%}govuk-input govuk-input--error{%endif%}"
          id="email"
          name="email"
          type="email"
          autocomplete="email"
        />
      </div>
      <div
        class="govuk-form-group govuk-password-input {%if passwordError or validIncorrectLogin%}govuk-form-group--error{%endif%}"
        data-module="govuk-password-input"
      >
        <label
          class="govuk-label govuk-!-font-weight-bold"
          for="password-input"
        >
          Password
        </label>
        <p id="password-hint" class="govuk-hint">
          Enter the password for your Bichard7 account.
        </p>
        {% if passwordError %}
        <div class="govuk-error-message">Enter a password<br /></div>
        {% endif %} {%if incorrectLoginDetails and not (data["email"] == "") and
        not (data["password"] == "") and not emailInvalidNotEmpty%}
        <div class="govuk-error-message">
          Incorrect email address or password
        </div>
        {%endif%}
        <div class="govuk-input__wrapper govuk-password-input__wrapper">
          <input
            class="govuk-input govuk-!-width-one-half govuk-password-input__input govuk-js-password-input-input {%if passwordError%}govuk-input govuk-input--error{%endif%}"
            id="password-input"
            name="password"
            type="password"
            spellcheck="false"
            autocomplete="current-password"
            autocapitalize="none"
          />
          <button
            type="button"
            class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle"
            data-module="govuk-button"
            aria-controls="password-input"
            aria-label="Show password"
            hidden
          >
            Show
          </button>
        </div>
      </div>
      <p class="govuk-body">
        <a href="/reset-password" class="govuk-link govuk-link--no-underline"
          >Forgotten password</a
        >
      </p>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    <p class="govuk-body">
      <a
        href="/help"
        class="govuk-link govuk-link--no-underline govuk-!-font-weight-bold"
        rel="noreferrer noopener"
        target="_blank"
      >
        Get help with this page (new window)
      </a>
    </p>
  </div>
</div>

{% endblock %}
